/* 自动生成文件，请勿手动修改 */
/* 来源: https://github.com/ixiongzai/Variable */

:root {
  /* Palette Colors */
  --full-transparency-black-100: #1A1B1D;
  --full-white-white-100: #FFFFFF;
  --full-transparency-black-60: rgba(26, 27, 29, 0.60);
  --full-transparency-black-40: rgba(26, 27, 29, 0.40);
  --full-transparency-black-20: rgba(26, 27, 29, 0.20);
  --full-transparency-black-16: rgba(26, 27, 29, 0.16);
  --full-transparency-black-12: rgba(26, 27, 29, 0.12);
  --full-transparency-black-8: rgba(26, 27, 29, 0.08);
  --full-transparency-black-5: rgba(26, 27, 29, 0.05);
  --full-grey: #F5F5F5;
  --s-pink-semi-s-pink-0: #FFF4F7;
  --s-pink-semi-s-pink-1: #FFDFE8;
  --s-pink-semi-s-pink-2: #FFBED4;
  --s-pink-semi-s-pink-3: #FF9EC1;
  --s-pink-semi-s-pink-4: #FF7DB1;
  --s-pink-semi-s-pink-5: #FF5DA3;
  --s-pink-semi-s-pink-6: #DB498D;
  --s-pink-semi-s-pink-7: #B83878;
  --s-pink-semi-s-pink-8: #942962;
  --s-pink-semi-s-pink-9: #701B4B;
  --s-indigo-semi-s-indigo-0: #F6F8FF;
  --s-indigo-semi-s-indigo-1: #E3E9FF;
  --s-indigo-semi-s-indigo-2: #C7D3FF;
  --s-indigo-semi-s-indigo-3: #ACBBFF;
  --s-indigo-semi-s-indigo-4: #90A2FF;
  --s-indigo-semi-s-indigo-5: #7489FF;
  --s-indigo-semi-s-indigo-6: #5D6EDB;
  --s-indigo-semi-s-indigo-7: #4956B8;
  --s-indigo-semi-s-indigo-8: #363F94;
  --s-indigo-semi-s-indigo-9: #262C70;
  --s-orange-semi-s-orange-0: #FFFAF1;
  --s-orange-semi-s-orange-1: #FFF2D8;
  --s-orange-semi-s-orange-2: #FFE2B1;
  --s-orange-semi-s-orange-3: #FFD08A;
  --s-orange-semi-s-orange-4: #FFBB63;
  --s-orange-semi-s-orange-5: #FFA43C;
  --s-orange-semi-s-orange-6: #D57F30;
  --s-orange-semi-s-orange-7: #AA5E25;
  --s-orange-semi-s-orange-8: #80411A;
  --s-orange-semi-s-orange-9: #552711;
  --s-purple-semi-s-purple-0: #FDF4FF;
  --s-purple-semi-s-purple-1: #FADEFF;
  --s-purple-semi-s-purple-2: #F2BDFF;
  --s-purple-semi-s-purple-3: #E89DFF;
  --s-purple-semi-s-purple-4: #DC7CFF;
  --s-purple-semi-s-purple-5: #CE5BFF;
  --s-purple-semi-s-purple-6: #AA48DB;
  --s-purple-semi-s-purple-7: #8837B8;
  --s-purple-semi-s-purple-8: #692794;
  --s-purple-semi-s-purple-9: #4B1B70;
  --s-cyan-semi-s-cyan-0: #EEFDF9;
  --main-semi-brand-0: #FFFEF0;
  --main-semi-brand-1: #FFFBD7;
  --main-semi-brand-2: #FFF5B0;
  --main-semi-brand-3: #FFEB88;
  --main-semi-brand-4: #FFDF61;
  --main-semi-brand-5: #FFD139;
  --main-semi-brand-6: #D5A52D;
  --main-semi-brand-7: #AA7D23;
  --main-semi-brand-8: #805819;
  --main-semi-brand-9: #553710;
  --s-cyan-semi-s-cyan-1: #D3FBF1;
  --s-cyan-semi-s-cyan-2: #A8F6E5;
  --s-cyan-semi-s-cyan-3: #7EF2DB;
  --s-cyan-semi-s-cyan-4: #56EDD2;
  --s-cyan-semi-s-cyan-5: #2FE9CA;
  --s-cyan-semi-s-cyan-6: #25C2AB;
  --s-cyan-semi-s-cyan-7: #1C9B8A;
  --s-cyan-semi-s-cyan-8: #147569;
  --s-cyan-semi-s-cyan-9: #0D4E47;
  --red-semi-red-0: #FFF1EF;
  --red-semi-red-1: #FFD9D6;
  --red-semi-red-2: #FFAFAC;
  --red-semi-red-3: #FF8383;
  --red-semi-red-4: #FF595E;
  --red-semi-red-5: #FF303D;
  --red-semi-red-6: #DB2334;
  --red-semi-red-7: #B8182C;
  --red-semi-red-8: #940F24;
  --red-semi-red-9: #70081C;
  --blue-semi-blue-0: #EEF5FF;
  --blue-semi-blue-1: #D4E4FF;
  --blue-semi-blue-2: #A8C7FF;
  --blue-semi-blue-3: #7DA9FF;
  --blue-semi-blue-4: #5189FF;
  --blue-semi-blue-5: #2668FF;
  --blue-semi-blue-6: #1A52DB;
  --blue-semi-blue-7: #103EB8;
  --blue-semi-blue-8: #092C94;
  --blue-semi-blue-9: #031D70;
  --green-semi-green-0: #ECFAF4;
  --green-semi-green-1: #CFF6E5;
  --green-semi-green-2: #A2EDCE;
  --green-semi-green-3: #78E3B9;
  --green-semi-green-4: #51DAA7;
  --green-semi-green-5: #2DD196;
  --green-semi-green-6: #24AE7F;
  --green-semi-green-7: #1B8B67;
  --green-semi-green-8: #13684E;
  --green-semi-green-9: #0C4635;
  --orange-semi-orange-0: #FFF8ED;
  --orange-semi-orange-1: #FFECD2;
  --orange-semi-orange-2: #FFD7A4;
  --orange-semi-orange-3: #FFBE77;
  --orange-semi-orange-4: #FFA349;
  --orange-semi-orange-5: #FF841C;
  --orange-semi-orange-6: #DB6412;
  --orange-semi-orange-7: #B84809;
  --orange-semi-orange-8: #943003;
  --orange-semi-orange-9: #701D00;

  /* Semantic Colors */
  --semantic-main-color-default: #1A1B1D;
  --semantic-secondary-color-s-orange: #FFA43C;
  --semantic-text-primary: #1A1B1D;
  --semantic-line-level-1: rgba(26, 27, 29, 0.16);
  --semantic-line-level-2: rgba(26, 27, 29, 0.08);
  --semantic-component-button-primary-button-background: #1A1B1D;
  --semantic-component-button-secondary-button-backgrond: #F5F5F5;
  --semantic-component-button-secondary-button-text: #1A1B1D;
  --semantic-component-button-secondary-button-disabled-text: rgba(26, 27, 29, 0.20);
  --semantic-component-button-line-button-background: #FFFFFF;
  --semantic-component-button-line-button-text: #1A1B1D;
  --semantic-component-button-list-button-background: rgba(26, 27, 29, 0.05);
  --semantic-component-button-list-button-text: rgba(26, 27, 29, 0.40);
  --semantic-component-button-icon-button-backgrond: rgba(26, 27, 29, 0.20);
  --semantic-component-button-icon-button-text: #FFFFFF;
  --semantic-component-button-primary-button-text: #FFFFFF;
  --semantic-component-button-primary-button-disabled-backgrond: rgba(26, 27, 29, 0.12);
  --semantic-component-tag-grey-background: rgba(26, 27, 29, 0.05);
  --semantic-component-tag-grey-text: rgba(26, 27, 29, 0.60);
  --semantic-component-input-default: rgba(26, 27, 29, 0.05);
  --semantic-text-secondary: rgba(26, 27, 29, 0.60);
  --semantic-text-teritary: rgba(26, 27, 29, 0.40);
  --semantic-text: #FFFFFF;
  --semantic-secondary-color-fill-background-s-orange: #FFF2D8;
  --semantic-secondary-color-fill-background-s-pink: #FFDFE8;
  --semantic-secondary-color-fill-background-s-purple: #FADEFF;
  --semantic-secondary-color-stroke-s-orange: #FFE2B1;
  --semantic-secondary-color-stroke-s-pink: #FFBED4;
  --semantic-secondary-color-stroke-s-purple: #F2BDFF;
  --semantic-secondary-color-stroke-s-cyan: #A8F6E5;
  --semantic-secondary-color-stroke-s-indigo: #C7D3FF;
  --semantic-secondary-color-fill-background-s-cyan: #D3FBF1;
  --semantic-secondary-color-fill-background-s-indigo: #E3E9FF;
  --semantic-secondary-color-s-pink: #FF5DA3;
  --semantic-secondary-color-s-purple: #CE5BFF;
  --semantic-secondary-color-s-cyan: #2FE9CA;
  --semantic-secondary-color-s-indigo: #7489FF;
}
